<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="pageBackground">

    <div id="top-info">
      <div id="TopTop">
        <h1>Welcome User!</h1>
      </div>
      <div id="main-container">

        <div id="tiles">

            <div>
              Saved Devices
            </div>
            <div>
              New Adoption
            </div>
            <div>
              Nearby Devices
            </div>
            <div>
              Settings
            </div>
        </div>
      </div>
    </div>

    <ion-card id="mainCard">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum consequat libero, condimentum mollis
        lectus sagittis eu. Suspendisse eget felis pellentesque, congue velit nec, commodo odio. Donec iaculis ante eu
        neque aliquet, sed ultricies neque interdum. Maecenas vitae urna in nulla efficitur aliquam. Praesent quis
        tristique sem, quis rutrum turpis. Morbi eu elementum leo. Donec a libero tellus. Aliquam erat volutpat. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat nibh metus, sed varius arcu dapibus eget.</p>
      <p>Nunc lacus justo, pulvinar eu tortor vitae, finibus rhoncus nisl. Duis efficitur quam purus, et gravida libero
        suscipit id. Donec interdum neque diam, eu tincidunt est mollis id. Phasellus in metus et purus vestibulum
        porttitor. Nunc et nunc nec magna pellentesque pellentesque. Sed placerat, arcu at aliquet hendrerit, metus quam
        sollicitudin massa, non aliquet ligula erat ullamcorper felis. Donec dapibus at dui id luctus. In tempor neque
        vel ex tincidunt malesuada. Aenean molestie condimentum orci, non fermentum felis tristique id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum consequat libero, condimentum mollis
        lectus sagittis eu. Suspendisse eget felis pellentesque, congue velit nec, commodo odio. Donec iaculis ante eu
        neque aliquet, sed ultricies neque interdum. Maecenas vitae urna in nulla efficitur aliquam. Praesent quis
        tristique sem, quis rutrum turpis. Morbi eu elementum leo. Donec a libero tellus. Aliquam erat volutpat. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat nibh metus, sed varius arcu dapibus eget.</p>
      <p>Nunc lacus justo, pulvinar eu tortor vitae, finibus rhoncus nisl. Duis efficitur quam purus, et gravida libero
        suscipit id. Donec interdum neque diam, eu tincidunt est mollis id. Phasellus in metus et purus vestibulum
        porttitor. Nunc et nunc nec magna pellentesque pellentesque. Sed placerat, arcu at aliquet hendrerit, metus quam
        sollicitudin massa, non aliquet ligula erat ullamcorper felis. Donec dapibus at dui id luctus. In tempor neque
        vel ex tincidunt malesuada. Aenean molestie condimentum orci, non fermentum felis tristique id.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum consequat libero, condimentum mollis
        lectus sagittis eu. Suspendisse eget felis pellentesque, congue velit nec, commodo odio. Donec iaculis ante eu
        neque aliquet, sed ultricies neque interdum. Maecenas vitae urna in nulla efficitur aliquam. Praesent quis
        tristique sem, quis rutrum turpis. Morbi eu elementum leo. Donec a libero tellus. Aliquam erat volutpat. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat nibh metus, sed varius arcu dapibus eget.</p>
      <p>Nunc lacus justo, pulvinar eu tortor vitae, finibus rhoncus nisl. Duis efficitur quam purus, et gravida libero
        suscipit id. Donec interdum neque diam, eu tincidunt est mollis id. Phasellus in metus et purus vestibulum
        porttitor. Nunc et nunc nec magna pellentesque pellentesque. Sed placerat, arcu at aliquet hendrerit, metus quam
        sollicitudin massa, non aliquet ligula erat ullamcorper felis. Donec dapibus at dui id luctus. In tempor neque
        vel ex tincidunt malesuada. Aenean molestie condimentum orci, non fermentum felis tristique id.</p>
    </ion-card>
  </div>


</ion-content>
