<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div id="thispage" class="gradient">

      <div id="perm-top" class="gradient">
        <h1>Welcome User!</h1>
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>

      <div id="quick_card_holder" class="gradient">

        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
          <p>Adopt New</p>
        </div>
        <div>
          <ion-icon name="create-outline"></ion-icon>
          <p>Manage Saved</p>
        </div>
        <div>
          <ion-icon name="information-circle-outline"></ion-icon>
          <p>Info</p>
        </div>
        <div>
          <ion-icon name="settings-outline"></ion-icon>
          <p>Settings</p>
        </div>
      </div>
      <div id="pre-catch" class="gradient"></div>
      <div id="flexing" >
        <div id="catch1" >
        </div>
        <div id="catch2">
        </div>
      </div>


      <div id="content">
        <p>The element is positioned according to the normal flow of the document, and then offset relative to itself
          based on the values of top, right, bottom, and left. The offset does not affect the position of any other
          elements; thus, the space given for the element in the page layout is the same as if position were static.</p>
        <p>The element is positioned according to the normal flow of the document, and then offset relative to itself
          based on the values of top, right, bottom, and left. The offset does not affect the position of any other
          elements; thus, the space given for the element in the page layout is the same as if position were static.</p>
        <p>The element is positioned according to the normal flow of the document, and then offset relative to itself
          based on the values of top, right, bottom, and left. The offset does not affect the position of any other
          elements; thus, the space given for the element in the page layout is the same as if position were static.</p>
        <h1>done</h1>
      </div>

    </div>
  </ion-content>
